[Unit]
Description=DNS Proxy Service
Documentation=DNS Proxy Service
After=network.target
Wants=
Requires=

[Service]
ExecStart=dnsproxy -l 127.0.0.1 -p 53 -u https://1.12.12.12/dns-query
ExecStop=
ExecReload=dnsproxy -l 127.0.0.1 -p 53 -u https://1.12.12.12/dns-query
Type=simple

[Install]
WantedBy=multi-user.target
