[Unit]
Description=DNSProxyService
Documentation=DNSProxyService
After=network.target
Wants=
Requires=

[Service]
ExecStart=/usr/bin/dnsproxy -l 127.0.0.1 -p 53 -u https://1.1.1.1/dns-query -u https://1.0.0.1/dns-query
ExecStop=
ExecReload=/usr/bin/dnsproxy -l 127.0.0.1 -p 53 -u https://1.1.1.1/dns-query -u https://1.0.0.1/dns-query
Type=simple

[Install]
WantedBy=multi-user.target
