[Unit]
Description=DNS Proxy Service
Documentation=https://github.com/9bingyin/Fast-DoH
After=network.target
Wants=
Requires=

[Service]
ExecStart=/usr/bin/dnsproxy -l 127.0.0.1 -p 53 -u https://185.222.222.222/dns-query -u https://45.11.45.11/dns-query
ExecStop=
ExecReload=/usr/bin/dnsproxy -l 127.0.0.1 -p 53 -u https://185.222.222.222/dns-query -u https://45.11.45.11/dns-query
Type=simple

[Install]
WantedBy=multi-user.target
