[Unit]
Description=DNS Proxy Service
Documentation=DNS Proxy Service
After=network.target
Wants=
Requires=

[Service]
ExecStart=/usr/bin/dnsproxy -l 127.0.0.1 -p 53 -u https://dns.nextdns.io/dns-query -b 8.8.4.4 -b 8.8.8.8
ExecStop=
ExecReload=/usr/bin/dnsproxy -l 127.0.0.1 -p 53 -u https://dns.nextdns.io/dns-query -b 8.8.4.4 -b 8.8.8.8
Type=simple

[Install]
WantedBy=multi-user.target
